
practice_test/x64/Debug/vc143.pdb
practice_test/x64/Debug/vc143.idb
practice_test/x64/Debug/practice_test.tlog/unsuccessfulbuild
practice_test/x64/Debug/practice_test.tlog/practice_test.lastbuildstate
practice_test/x64/Debug/practice_test.tlog/CL.command.1.tlog
practice_test/x64/Debug/practice_test.log
practice_test/practice_test.vcxproj.user
practice_test/practice_test.vcxproj.filters
practice_test/practice_test.vcxproj
practice_test.sln
